POSTGRES_USERNAME=gophermart
POSTGRES_PASSWORD=gophermart
POSTGRES_DB=gophermart
POSTGRES_PORT=5432
POSTGRES_CONN=postgres://gophermart:gophermart@db:5432/gophermart?sslmode=disable
JWT_KEY="supermegasecret"